#main-heading{
    color: blue;
}
.btn-headline{
    color: brown;
}

.section-todo{
    margin-top: 5rem;
    text-align: center;
}
.bgDark{
    background-color: black;
    color: aliceblue;
}
.toto-list{
    text-align: left;
    list-style: none;
    font-size: 1.2rem;
}
.toto-list li{
    padding: 0.7rem;
    background-color: #444;
    color: cyan;
    margin-top: 1rem;
}

.todo-app{
    text-align: left;
list-style: none;
font-size: 1.2rem;
margin-top: 4rem;
}
.todo-app li{
    padding: 0.7rem;
background-color: #444;
color: cyan;
margin-top: 1rem;
}